@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap");
/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif; */

.wrapper {
  background-color: #333333;
}

.wrapper-w-map {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "left right"
    "map map";
}

.wrapper-wo-map {
  height: 32vh;
  display: flex;
}

.map-container {
  grid-area: map;
  padding: 0;
  margin: 0;
}

.wrapper > * {
  padding: 20px;
}

.wrapper-w-map .paper-left {
  grid-area: left;
}

.paper-left h1 {
  /* color: white; */
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
}
.paper-left_vaccine_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paper-left_vaccine_head h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: #275efe;
  font-family: "Fira Code", monospace;
  letter-spacing: 2px;
}
.paper-left_vaccine_head p {
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  /* background-color: lightblue; */
  box-shadow: inset 0 0 35px 5px rgba(0, 0, 0, 0.25),
    inset 0 2px 1px 1px rgba(255, 255, 255, 0.9),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.25);
  font-family: monospace;
  background-color: #fff;
  border: 1px solid;
  padding: 10px;
  border-radius: 7px;
  text-align: center;
}

.paper-left .paper-left_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.paper-left .paper-left_content h3 {
  /* color: #BB86FC; */
  color: #212121;
  font-weight: bold;
  text-transform: capitalize;
}

.paper-left .paper-left_content p {
  /* color: #F48FB1; */
  color: red;
  text-align: center;
  /* color: black; */
  margin-top: 5px;
  text-transform: capitalize;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
}

.paper-left .paper-left_time {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
}
.paper-left .paper-left_time .time:hover {
  color: #002060;
}
.paper-left .paper-left_time .time {
  padding: 10px;
  border-radius: 7px;
  font-weight: bold;
}

.paper-left .paper-left_time .open-time {
  /* background-color: rgb(20, 209, 20);
    -moz-box-shadow:    inset 0 0 10px green;
    -webkit-box-shadow: inset 0 0 10px green;
    box-shadow:         inset 0 0 10px green; */
  background-color: white;
  color: black;
  border: 1px solid;
  box-shadow: inset 2px 0px 10px 2px white, inset 0px 0px 4px 0px black;
  font-family: "Raleway", sans-serif;
}

.paper-left .paper-left_time .close-time {
  /* background-color: rgb(231, 31, 125);
    background-color: white; */
  color: black;
  background-color: white;
  box-shadow: inset 2px 0px 10px 2px white, inset 0px 0px 4px 0px black;
  border: 1px solid;
  font-family: "Raleway", sans-serif;
}

.wrapper-w-map .paper-right {
  grid-area: right;
}

.paper-right_Badges {
  display: flex;
  justify-content: space-between;
}

.paper-right_Badges h5 {
  margin-right: 10px;
  /* color: rgb(241, 11, 11); */
  color: #275efe;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.paper-right_Badges .healing_icon {
  color: white;
}

.paper-right_Badges p {
  color: #275efe;
  font-size: 15px;
}

.paper-right_Badges p span {
  color: rgb(255, 255, 255);
  color: black;
  font-family: monospace;
  font-size: 20px;
}

.paper-right_age {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.paper-right_age .age_text h3 {
  color: rgb(10, 192, 107);
  color: black;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
}

.paper-right_age .age_content p {
  margin-bottom: 5px;
  font-size: 19px;
  font-weight: 600;
  color: red;
}

.paper-right_age .age_content {
  height: 25px;
  width: 75px;
  padding: 5px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paper-right_slots h3 {
  text-align: center;
  font-weight: 700;
  color: #275efe;
  margin: 5px;
}

.paper-right_slots p {
  color: rgb(100, 4, 4);
  color: #374957;
  font-size: 17px;
  text-align: center;
}

/*Media Queries*/
@media screen and (max-width: 1496px) {
  .wrapper {
    height: 37vh;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper {
    height: 37vh;
  }
}
@media screen and (max-width: 916px) {
  .paper-left .paper-left_content p {
    font-size: 15px;
  }
  .paper-left .paper-left_time .open-time {
    font-size: 15px;
  }
  .paper-left .paper-left_time .close-time {
    font-size: 15px;
  }
}
@media screen and (max-width: 890px) {
  .paper-left h1 {
    font-size: 16px;
  }
  .paper-left .paper-left_time .open-time {
    font-size: 13px;
  }
  .paper-left .paper-left_time .close-time {
    font-size: 13px;
  }
  .MuiSvgIcon-root {
    font-size: 1.18rem;
  }
}

@media screen and (max-width: 812px) {
  .wrapper {
    height: 40vh;
  }
  .paper-left .paper-left_content p {
    font-size: 12px;
  }
  .paper-left .paper-left_time {
    margin-top: 20px;
  }
  .paper-left h1 {
    font-size: 14px;
  }
  .paper-right_Badges h5 {
    font-size: 16px;
  }
  .paper-right_slots p {
    font-size: 15px;
  }
  .paper-left .paper-left_time .open-time {
    font-size: 11px;
  }
  .paper-left .paper-left_time .close-time {
    font-size: 11px;
  }
}
@media screen and (max-width: 722px) {
  .wrapper {
    height: 42vh;
  }

  .paper-left .paper-left_time .open-time {
    font-size: 10px;
  }
  .paper-left .paper-left_time .close-time {
    font-size: 10px;
  }
  .paper-left .paper-left_content p {
    font-size: 11px;
  }
  .paper-right_Badges p {
    font-size: 12px;
  }
  .paper-left .paper-left_time {
    margin-top: 30px;
  }
}
@media screen and (max-width: 690px) {
  .wrapper {
    height: 47vh;
  }
  .paper-left_vaccine_head h3 {
    font-size: 15px;
  }
  .paper-right_Badges h5 {
    font-size: 14px;
  }
  .paper-right_Badges p {
    font-size: 10px;
  }
  .paper-left .paper-left_content h3 {
    font-size: 13px;
  }
  .paper-left .paper-left_time .open-time {
    font-size: 10px;
  }
  .paper-left .paper-left_time .close-time {
    font-size: 10px;
  }
  .paper-left .paper-left_content p {
    font-size: 11px;
  }
  .paper-right_Badges p {
    font-size: 12px;
  }
}
@media screen and (max-width: 646px) {
  .wrapper {
    height: 108vh;
    flex-direction: column;
  }

  .paper-left {
    width: 90%;
  }

  .paper-left_vaccine_head {
    flex-direction: column;
  }

  .paper-left_vaccine_head h3 {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .paper-left .paper-left_content h3 {
    font-size: 15px;
  }
  .paper-left_vaccine_head p {
    padding: 5px;
    font-size: 15px;
    border-radius: 7px;
    text-align: center;
  }
  .paper-left .paper-left_content p {
    font-size: 15px;
  }
  .paper-left p {
    width: 100%;
  }
  .paper-left .paper-left_time {
    margin-top: 20px;
  }
  .paper-left .paper-left_content {
    display: flex;
    flex-direction: column;
  }

  .paper-left .paper-left_time {
    display: flex;
    flex-direction: column;
    text-align: center;
    letter-spacing: 2px;
  }

  .paper-left .paper-left_time .time {
    margin-top: 5px;
  }

  .paper-right {
    width: 90%;
  }

  .paper-right_Badges h5 {
    margin-top: 5px;
    margin-right: 3px;
    font-weight: bold;
    font-size: 11px;
  }

  .paper-right_Badges .healing_icon {
    font-size: 20px;
  }

  .paper-right_Badges p {
    margin-top: 5px;
    font-size: 15px;
  }

  .paper-right_Badges p span {
    font-size: 15px;
  }

  .paper-right_age {
    margin-top: 3px;
  }

  .paper-right_age .age_text h3 {
    font-size: 13px;
  }

  .paper-right_age .age_content {
    height: 15px;
    width: 65px;
    padding: 3px;
    border-radius: 3px;
  }

  .paper-right_age .age_content p {
    margin-bottom: 1px;
    font-size: 13px;
  }

  .paper-right_slots h3 {
    text-align: center;
    font-weight: 700;
    margin: 3px;
  }

  .paper-right_slots p {
    font-size: 15px;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    height: auto;
  }
}
