.wrapper {
    display: flex;
    background-color: #333333;
    height: 30vh
}

.wrapper > * {
    padding: 20px;
}

.paper-left {
    width: 50%;
}

.paper-left h1{
    color: whitesmoke;
    text-transform: uppercase;
    font-family: monospace;
}

.paper-left .paper-left_content{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}


.paper-left .paper-left_content h3{
    color: #BB86FC;
    font-weight: bold;
    text-transform: capitalize;
}

.paper-left .paper-left_content p{
    color: #F48FB1;
    margin-top: 5px;
    text-transform: capitalize;
    font-family: monospace;
}

.paper-left .paper-left_time {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.paper-left .paper-left_time .time{
    padding: 10px;
    border-radius: 7px;
    font-weight: bold;
}

.paper-left .paper-left_time .open-time{
    background-color: #009E60;
    font-family: monospace;
}

.paper-left .paper-left_time .close-time{
    background-color: rgb(222,49,99);
    color: white;
    font-family: monospace;
}

.paper-right {
    width: 50%;
}



/*Media Queries*/
@media screen and (max-width: 500px) {
    .wrapper {
        height: 50vh;
        flex-direction: column;
    }

    .paper-left {
        width: 90%;
    }

    .paper-left p {
        width: 100%;
    }

    .paper-left .paper-left_content{
        display: flex;
        flex-direction: column;
    }

    .paper-left .paper-left_time {
        display: flex;
        flex-direction: column;
    }

    .paper-left .paper-left_time .time{
        margin-top: 5px;
    }

    .paper-right {
        width: 90%;
    }
}
