body

.home {
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: calc(100vh - 20px);
  padding: 10px;
}

.home__info {
  background-color: #1E1E1E;
  padding: 15px;
  color: #bb86fc;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.home__optionLeft {
  padding: 10px;
  margin-top: 10px;
  margin-left: -15px;
}

.home__option {
  margin: 10px;
}

.text > .MuiFormControl-root {
  background-color: #31333f;
  color: white !important;
  width: 300px;
  outline: 0 !important;
  border-radius: 10px;
  margin: 10px;
}

.MuiSelect-root {
  color: white !important;
}
.MuiPaper-root {
  margin-top: 10px;
  margin-left: 10px;
}

@media (max-width: 800px) {
  .home__optionRight > .MuiFormControl-root {
    width: 280px;
    margin-left: 10px;
  }
  .home__info {
    border-radius: 10px;
  }
  .home {
    background-size: 300%;
    height: 100vh;
  }

  .home__optionRight {
    display: flex;
    flex-direction: column;
  }
  .text > .MuiFormControl-root {
    background-color: #31333f;
    color: white !important;
    width: 280px;
    outline: 0 !important;
    border-radius: 10px;
  }

  .date__picker {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .MuiPaper-root {
    margin-left: -5px;
    margin-top: 10px;
  }
}

body::-webkit-scrollbar {
  display: none;
}

.home__optionRight {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  display: flex;
  flex-direction: column;
}

.date__picker {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
