body {
  background-color: #121212;
  background-image: url(https://bioengineering.stanford.edu/sites/g/files/sbiybj17086/files/styles/breakpoint_2xl_2x/public/media/image/covid-19-5000501_1920_0.jpg?itok=s9XVFV61);
}
.home {
  color: white;
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: calc(100vh - 20px);
  padding: 10px;
}

.home__info {
  background-color: #121212;
  padding: 15px;
  color: #bb86fc;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.home__optionLeft {
  padding: 10px;
  margin-top: 10px;
  margin-left: -15px;
}

.home__option {
  margin: 10px;
}

.text > .MuiFormControl-root {
  background-color: #31333f;
  color: white !important;
  width: 500px;
  outline: 0 !important;
  border-radius: 10px;
}

.MuiSelect-root {
  color: white !important;
}

@media (max-width: 800px) {
  .home__optionRight > .MuiFormControl-root {
    width: 280px;
    margin-left: 10px;
  }
  .home__info {
    border-radius: 10px;
  }
  .home {
    background-size: 300%;
    height: 100vh;
  }

  .home__optionRight {
    display: flex;
    flex-direction: column;
  }
  .text > .MuiFormControl-root {
    background-color: #31333f;
    color: white !important;
    width: 280px;
    outline: 0 !important;
    border-radius: 10px;
  }
}

body::-webkit-scrollbar {
  display: none;
}

.home__optionRight {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  display: flex;
  flex-direction: column;
}
