@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&display=swap");

.header {
  background-color: #d6e4f0 !important;
}

.headerDark {
  background-color: #1f1f1f !important;
  color: whitesmoke !important;
}

.header__ham {
  color: #363537 !important;
}

.header__hamDark {
  color: white !important;
}

.MuiButtonBase-root {
  font-weight: 600 !important;
}

a {
  text-decoration: none;
}
