@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

.world_wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.world_wrapper .select_options {
  display: flex;
  flex-direction: column;
}

/* WORLD CARD CSS STARTS */
.world_head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 25vh;
  width: 100%;
  margin-top: 10px;
  font-family: monospace;
}
/* WORLD CARD CSS ENDS */

/* WorldChart CSS STARTS */
.world_head .world_head__WorldChart {
  width: 100%;
  display: flex;
  overflow: auto;
}

.world_head .world_head__WorldChart .world_head__WorldChart_doughnut {
  margin-top: 2rem;
}
/* WorldChart CSS ENDS */

/* CONTINENTS CARD CSS STARTS */
.continents_head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 122vh;
  width: 100%;
  margin-top: -30px;
  font-family: monospace;
}

.count .count_heading {
  font-size: 20px;
  color: cadetblue;
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  text-transform: uppercase;
}

/* CONTINENTS CARD CSS ENDS */

/* SINGLE CONTINENT CARD CSS STARTS */

.single_continent_head {
  width: 100%;
  margin-top: -10px;
}

.continent_select_options {
  display: flex;
  width: 100%;
  flex-direction: column;
}

/* SINGLE CONTINENT CARD CSS ENDS */

/* SINGLE COUNTRY CSS STARTS */

.single_country_head {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.single_country_dropdowns {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.single_select_option {
  min-width: 49% !important;
}

.single_country_card {
  display: flex;
  height: 100;
}

.country_flag_left {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.country_card_right {
  margin-left: 10px;
  height: 100%;
  width: 100%;
}

.country_title {
  padding: 10px;
}

/* SINGLE COUNTRY CSS ENDS */

@media screen and (max-width: 850px) {
  .single_country_dropdowns {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}

@media screen and (max-width: 750px) {
  .world_head_paper h3 {
    font-size: 13px;
  }

  .world_head_paper .count {
    font-size: 20px;
  }

  .single_country_card {
    flex-direction: column;
  }

  .country_flag_left {
    width: 100%;
    height: 100%;
  }

  .country_card_right {
    height: 100%;
    width: 100%;
    margin: 10px 0 10px 0;
  }
}

@media screen and (max-width: 550px) {
  .world_head {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .world_head_paper {
    width: 100%;
    height: 50%;
    margin-top: 10px;
  }

  .world_head_paper h3 {
    font-size: 20px;
  }

  .world_head_paper .count {
    font-size: 15px;
  }

  .continents_head {
    height: 125vh;
  }

  .count .count_heading {
    font-size: 29px;
  }
}

@media screen and (max-width: 420px) {
  .continents_head {
    height: 115vh;
  }
}

@media screen and (max-width: 360px) {
  .continents_head {
    height: 145vh;
  }
}
