@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

.world_wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
}

.world_head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 25vh;
  width: 100%;
  margin-top: 10px;
  font-family: monospace;
}

.world_head_paper {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  width: 32%;
  height: 50%;
  margin-top: 10px;
}

.world_head_paper h3 {
  text-align: center;
}

.world_head_paper .paper_title {
  background-color: #333;
  color: whitesmoke;
  padding: 5px;
}

.world_head_paper .count {
  padding: 5px;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
}

@media screen and (max-width: 750px) {
  .world_head_paper h3 {
    font-size: 13px;
  }

  .world_head_paper .count {
    font-size: 20px;
  }
}

@media screen and (max-width: 550px) {
  .world_head {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .world_head_paper {
    width: 100%;
    height: 50%;
    margin-top: 10px;
  }

  .world_head_paper h3 {
    font-size: 20px;
  }

  .world_head_paper .count {
    font-size: 15px;
  }
}
